.items {
  max-width: 140rem;
  padding: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

@media (max-width: 70.7em) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 41.25em) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}
