.form {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  border: 3px solid #fff;
  background-color: #26304e;
  color: #fff;
  position: relative;
}

.form label {
  font-size: 1.8rem;
}

.form input {
  height: 4rem;
  background-color: #26304e;
  border: 3px solid #fff;
  font-size: 1.6rem;
  border-radius: 8px;
  color: #fff;
}

.form button {
  color: #fff;
  font-size: 1.8rem;
  align-self: center;
  padding: 1rem 4rem;
  background-color: #26304e;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.form button:hover {
  background-color: black;
}

.invalid input {
  border: 2px solid #b40e0e;
}

.invalid label {
  color: #b40e0e;
}

.invalid input:focus {
  border-color: #ff8800;
}
