.header {
  margin: auto;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.logo {
  max-width: 16rem;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.header a,
.header a:hover,
.header a:active,
.header a:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #dee2e6;
}

@media (max-width: 82em) {
  .logo {
    max-width: 10rem;
  }
}

@media (max-width: 54em) {
  .logo {
    max-width: 6rem;
  }

  .header {
    background-color: rgba(38, 48, 78, 0.5);
  }
}

@media (max-width: 35em) {
  .logo {
    max-width: 4rem;
  }

  .logo img {
    border-radius: 3px;
  }

  .header {
    padding: 0.4rem;
  }
}

@media (max-width: 26.5em) {
  .logo {
    max-width: 3rem;
  }
}
