.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.details {
  display: flex;
  justify-content: space-between;
  border: 2px solid #adb5bd;
  background-color: #26304e;
  color: #fff;
  border-radius: 8px;
  padding: 0.6rem 2rem;
}

.details span {
  font-size: 2.4rem;
}

@media (max-width: 40em) {
  .details span {
    font-size: 1.2rem;
  }
}
